Database:
  Postgres:
    Host: localhost
    Port: 5432
    Name: dbname
    User: username
    Password: userpassword
    SSLMode: disable

Server:
  Name: mygram
  Port: 8080

Token:
  JWTSecret: iPkm-tpd6sZLjHbOGo9Wx_vtJhknxFRXj7Lzb7sAkTc=